<?php
/* MySQL */
$mysql_host = 'database.company.local';
$mysql_user = 'user';
$mysql_pwd = 'passwd';
$mysql_db = 'www_asterisk';
/* CDP and LLDP-MED */
$enable_cdp = 'Yes';
$enable_lldp = 'Yes';
/* NTP */
$ntp_primary = 'ru.pool.ntp.org';
$ntp_secondary = 'ntp1.stratum2.ru';
/* SYSLOG */
$syslog_server = 'syslog.company.local';
/* SIP */
$sip_proxy = 'sip.company.local';
/* SIP INTERVALS, SECs */
$sip_reg_retry_int = '30';
$sip_reg_retry_long_int = '180';
/* LDAP */
$ldap_name = 'ldapname';
$ldap_auth_method = 'Simple';
$ldap_server = 'ldap.company.local';
$ldap_user = 'ldapuser';
$ldap_pwd = 'ldappasswd';
$ldap_sn = 'sn:(sn=*$VALUE*)';
$ldap_cn = 'cn:(cn=*$VALUE*)';
$ldap_dn = 'cn=ldapuser,ou=people,dc=company,dc=local';
$ldap_search = 'ou=people,dc=company,dc=local';
$ldap_filter3 = 'telephonenumber:(telephonenumber=*$VALUE*)';
$ldap_filter4 = 'mobile:(mobile=*$VALUE*)';
$ldap_display3 = 'Exten';
$ldap_display4 = 'Mobile';
$ldap_display = 'a=givenName;a=telephoneNumber,n=Внутренний,t=p;a=mobile,n=Мобильный,t=p;';
/* CISCO SPA */
$admin_password = 'ciscoWEBpassword';
$textlogo = 'YouLogo';
$reg = '$VERSION ($MAU)';
$resync = 'http://cisco.company.local';
$mau = '$MAU';
$pn = '$PN';
$notify = '$NOTIFY';
$proxy = '$PROXY';
$upgrade_rule_SPA50x_30x = '( $SWVER lt 7.5.2b )? http://cisco.company.local/cisco/firmware/spa50x-30x-7-5-2b.bin | http://cisco.company.local/cisco/firmware/spa50x-30x-7-6-1.bin';
$upgrade_rule_SPA51x = 'http://cisco.company.local/cisco/firmware/spa51x-7-6-1.bin';
$dialplan = '(9xxxxxxxxxS0|8xxxxxxxxxxS0|7xxxxxxxxxxS0|xxxxxxxxxx)';
$dict = 'serv=http://cisco.company.local/cisco/dict/;d0=English;x0=spa50x_30x_en_v756.xml;d1=Russian;x1=spa50x_30x_ru_v756.xml;';
$deflanguage = 'Russian';
/* SPEED DIAL */
$speed_dial3 = '20473';
$speed_dial4 = '20474';
$speed_dial5 = '20475';
$speed_dial6 = '20666';
$speed_dial7 = '20777';
$speed_dial8 = '';
$speed_dial9 = '20911';
?>
