<?php
/* MySQL */
$mysql_host = 'database.company.local';
$mysql_user = 'user';
$mysql_pwd = 'passwd';
$mysql_db = 'www_asterisk';
/* CDP and LLDP-MED */
$enable_cdp = 'Yes';
$enable_lldp = 'Yes';
/* NTP */
$ntp_primary = 'ru.pool.ntp.org';
$ntp_secondary = 'ntp1.stratum2.ru';
/* SYSLOG */
$syslog_server = 'syslog.company.local';
/* SIP */
$sip_proxy = 'sip.company.local';
/* SIP INTERVALS, SECs */
$sip_reg_retry_int = '30';
$sip_reg_retry_long_int = '180';
/* LDAP */
$ldap_name = 'ldapname';
$ldap_auth_method = 'Simple';
$ldap_server = 'ldap.company.local';
$ldap_user = 'ldapuser';
$ldap_pwd = 'ldappasswd';
$ldap_sn = 'sn:(sn=*$VALUE*)';
$ldap_cn = 'cn:(cn=*$VALUE*)';
$ldap_dn = 'cn=ldapuser,ou=people,dc=company,dc=local';
$ldap_search = 'ou=people,dc=company,dc=local';
$ldap_filter3 = 'telephonenumber:(telephonenumber=*$VALUE*)';
$ldap_filter4 = 'mobile:(mobile=*$VALUE*)';
$ldap_display3 = 'Exten';
$ldap_display4 = 'Mobile';
$ldap_display = 'a=givenName;a=telephoneNumber,n=Внутренний,t=p;a=mobile,n=Мобильный,t=p;';
/* CISCO SPA */
$admin_password = 'ciscoWEBpassword';
$textlogo = 'YouLogo';
$reg = '$VERSION ($MAU)';
$resync = 'http://cisco.company.local';
$mau = '$MAU';
$pn = '$PN';
$notify = '$NOTIFY';
$proxy = '$PROXY';
$upgrade_rule_SPA50x_30x = '( $SWVER lt 7.5.2b )? http://cisco.company.local/cisco/firmware/spa50x-30x-7-5-2b.bin | http://cisco.company.local/cisco/firmware/spa50x-30x-7-6-2.bin';
$upgrade_rule_SPA51x = 'http://cisco.company.local/cisco/firmware/spa51x-7-6-2.bin';
$dialplan = '(9xxxxxxxxxS0|8xxxxxxxxxxS0|7xxxxxxxxxxS0|xxxxxxxxxx)';
$dict = 'serv=http://cisco.company.local/cisco/dict/;d0=English;x0=spa50x_30x_en_v756.xml;d1=Russian;x1=spa50x_30x_ru_v756.xml;';
$deflanguage = 'Russian';
/* SPEED DIAL */
$speed_dial3 = '911';
$speed_dial4 = '';
$speed_dial5 = '';
$speed_dial6 = '';
$speed_dial7 = '';
$speed_dial8 = '';
$speed_dial9 = '';
/* Supplementary Services */
/* Enable/disable Three way conference service. */
$conference_serv = 'Yes';
/* Enable/disable attended-call-transfer service. */
$attn_transfer_serv = 'Yes';
/* Enable/disable blind-call-transfer service. */
$blind_transfer_serv = 'Yes';
/* Enable/disable do-not-disturb service. */
$dnd_serv = 'Yes';
/* Enable/disable block-anonymous-call service. */
$block_anc_serv = 'Yes';
/* Enable/disable call-back (a.k.a. repeating dialing) service. */
$call_back_serv = 'Yes';
/* Enable/disable blocking outbound Caller-ID service. */
$block_cid_serv = 'Yes';
/* Enable/disable secure-call service. */
$secure_call_serv = 'Yes';
/* Enable/disable call-forward-all service. */
$cfwd_all_serv = 'Yes';
/* Enable/disable call-forward-on-busy service. */
$cfwd_busy_serv = 'Yes';
/* Enable/disable call-forward-on-no-answer service. */
$cfwd_no_ans_serv = 'Yes';
/* Enable/disable the paging service. */
$paging_serv = 'Yes';
/* Enable/disable the call park service. */
$call_park_serv = 'Yes';
/* Enable/disable the call pickup service. */
$call_park_up_serv = 'Yes';
/* Enable/disable the ACD Login Service, used for call centers. Typically
enabled with the <SIP-B> parameter. */
$acd_login_serv = 'No';
/* Enable/disable the group call pickup service. */
$group_call_pick_up_serv = 'Yes';
/* The extension used for handling ACD calls. */
$acd_ext = '1';
/* Enable/disable sending announcement requests to a customer-supplied
announcement server. */
$service_annc_serv = 'No';
?>
